workflow3.json
{
  "name": "03 - Telegram Message Handler (Load/Withdraw)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "tgMsgTrigger",
      "name": "Telegram Trigger (message)",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [ 240, 240 ],
      "credentials": {
        "telegramApi": {
          "name": "ScarletGames"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.message;\nconst chat_id = msg.chat.id;\nconst text = msg.text || '';\nconst photos = msg.photo || [];\nconst hasPhoto = photos.length > 0;\nconst file_id = hasPhoto ? photos[photos.length - 1].file_id : '';\nreturn [{ json: { chat_id, text, hasPhoto, file_id, raw: msg } }];"
      },
      "id": "normMsg",
      "name": "Normalize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 470, 240 ]
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": "1coaOS8uj8w4SLoiXN8XhQJyjvXR1Zvm2",
        "sheetName": "State",
        "lookupColumn": "tg_chat_id",
        "lookupValue": "={{$json.chat_id}}"
      },
      "id": "gsLookupState",
      "name": "GS: Lookup State",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 700, 240 ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "GameBot_System_Template.xlsx"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const state = $json; \n// state here is from Sheets lookup result\nreturn [{ json: { ...state } }];"
      },
      "id": "passState",
      "name": "Pass State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 930, 240 ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "operation": "equals",
              "value1": "={{$json.step}}",
              "value2": "LOAD_WAIT_USERNAME"
            },
            {
              "operation": "equals",
              "value1": "={{$json.step}}",
              "value2": "LOAD_WAIT_AMOUNT"
            },
            {
              "operation": "equals",
              "value1": "={{$json.step}}",
              "value2": "LOAD_WAIT_PROOF"
            },
            {
              "operation": "equals",
              "value1": "={{$json.step}}",
              "value2": "WD_WAIT_USERNAME"
            },
            {
              "operation": "equals",
              "value1": "={{$json.step}}",
              "value2": "WD_WAIT_AMOUNT"
            },
            {
              "operation": "equals",
              "value1": "={{$json.step}}",
              "value2": "WD_WAIT_QR"
            }
          ]
        }
      },
      "id": "switchStep",
      "name": "Switch Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [ 1160, 240 ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "documentId": "1coaOS8uj8w4SLoiXN8XhQJyjvXR1Zvm2",
        "sheetName": "State",
        "key": "tg_chat_id",
        "value": "={{$node[\"Normalize Message\"].json.chat_id}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_chat_id": "={{$node[\"Normalize Message\"].json.chat_id}}",
            "step": "LOAD_WAIT_AMOUNT",
            "game_id": "={{$node[\"Pass State\"].json.game_id}}",
            "temp_username": "={{$node[\"Normalize Message\"].json.text}}",
            "temp_amount": "",
            "last_request_id": ""
          }
        }
      },
      "id": "gsLoadUserToAmount",
      "name": "LOAD: Save Username -> Ask Amount",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 1410, 80 ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "GameBot_System_Template.xlsx"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Normalize Message\"].json.chat_id}}",
        "text": "Now send the amount to LOAD (numbers only):"
      },
      "id": "tgAskLoadAmount",
      "name": "TG: Ask Load Amount",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [ 1640, 80 ],
      "credentials": {
        "telegramApi": {
          "name": "ScarletGames"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chat_id = $node[\"Normalize Message\"].json.chat_id;\nconst amountText = $node[\"Normalize Message\"].json.text.trim();\nconst amount = Number(amountText);\nif (!Number.isFinite(amount) || amount <= 0) {\n  return [{ json: { ok:false, chat_id, reason:'Invalid amount' } }];\n}\nconst state = $node[\"Pass State\"].json;\nconst request_id = 'REQ' + Date.now().toString() + Math.floor(Math.random()*1000).toString();\nreturn [{ json: { ok:true, chat_id, amount, request_id, game_id: state.game_id, game_username: state.temp_username } }];"
      },
      "id": "makeLoadRequest",
      "name": "LOAD: Validate Amount + Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1410, 200 ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.ok}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "ifLoadAmountOk",
      "name": "IF Amount OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 1640, 200 ]
    },
    {
      "parameters": {
        "chatId": "={{$json.chat_id}}",
        "text": "Invalid amount. Please send a number like 100, 250, 500."
      },
      "id": "tgBadAmount",
      "name": "TG: Bad Amount",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [ 1860, 140 ],
      "credentials": {
        "telegramApi": {
          "name": "ScarletGames"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1coaOS8uj8w4SLoiXN8XhQJyjvXR1Zvm2",
        "sheetName": "Requests",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "request_id": "={{$json.request_id}}",
            "type": "LOAD",
            "game_id": "={{$json.game_id}}",
            "tg_chat_id": "={{$json.chat_id}}",
            "game_username": "={{$json.game_username}}",
            "amount": "={{$json.amount}}",
            "status": "PENDING",
            "proof_file_id": "",
            "withdraw_qr_file_id": "",
            "created_at": "={{new Date().toISOString()}}",
            "approved_by": "",
            "approved_at": ""
          }
        }
      },
      "id": "gsAppendLoadReq",
      "name": "GS: Append LOAD Request",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 1860, 240 ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "GameBot_System_Template.xlsx"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "documentId": "1coaOS8uj8w4SLoiXN8XhQJyjvXR1Zvm2",
        "sheetName": "State",
        "key": "tg_chat_id",
        "value": "={{$json.chat_id}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_chat_id": "={{$json.chat_id}}",
            "step": "LOAD_WAIT_PROOF",
            "game_id": "={{$json.game_id}}",
            "temp_username": "={{$json.game_username}}",
            "temp_amount": "={{$json.amount}}",
            "last_request_id": "={{$json.request_id}}"
          }
        }
      },
      "id": "gsSetWaitProof",
      "name": "LOAD: State = WAIT_PROOF",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 2090, 240 ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "GameBot_System_Template.xlsx"
        }
      }
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": "1coaOS8uj8w4SLoiXN8XhQJyjvXR1Zvm2",
        "sheetName": "Config",
        "lookupColumn": "key",
        "lookupValue": "payment_qr_file_id"
      },
      "id": "gsGetPaymentQR",
      "name": "GS: Get Payment QR file_id",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 2320, 240 ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "GameBot_System_Template.xlsx"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.value}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "ifQrSet",
      "name": "IF Payment QR Set",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 2540, 240 ]
    },
    {
      "parameters": {
        "chatId": "={{$node[\"LOAD: Validate Amount + Build Request\"].json.chat_id}}",
        "text": "Payment QR is not set yet. Please contact admin."
      },
      "id": "tgNoQR",
      "name": "TG: Payment QR Missing",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [ 2760, 160 ],
      "credentials": {
        "telegramApi": {
          "name": "ScarletGames"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"LOAD: Validate Amount + Build Request\"].json.chat_id}}",
        "file": "={{$json.value}}",
        "additionalFields": {
          "caption": "={{`Pay and send payment proof screenshot here.\\n\\nUsername: ${$node[\"LOAD: Validate Amount + Build Request\"].json.game_username}\\nAmount: ${$node[\"LOAD: Validate Amount + Build Request\"].json.amount}`}}"
        }
      },
      "id": "tgSendPaymentQR",
      "name": "TG: Send Payment QR (file_id)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [ 2760, 300 ],
      "credentials": {
        "telegramApi": {
          "name": "ScarletGames"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Normalize Message\"].json.hasPhoto}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "ifHasProof",
      "name": "IF Proof Photo Received",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 1410, 360 ]
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": "1coaOS8uj8w4SLoiXN8XhQJyjvXR1Zvm2",
        "sheetName": "State",
        "lookupColumn": "tg_chat_id",
        "lookupValue": "={{$node[\"Normalize Message\"].json.chat_id}}"
      },
      "id": "gsReloadStateForProof",
      "name": "GS: Reload State (for proof)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 1640, 360 ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "GameBot_System_Template.xlsx"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "1coaOS8uj8w4SLoiXN8XhQJyjvXR1Zvm2",
        "sheetName": "Requests",
        "key": "request_id",
        "value": "={{$json.last_request_id}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "proof_file_id": "={{$node[\"Normalize Message\"].json.file_id}}"
          }
        }
      },
      "id": "gsSaveProof",
      "name": "GS: Save Proof file_id",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 1860, 360 ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "GameBot_System_Template.xlsx"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003579950450",
        "text": "={{`🧾 LOAD REQUEST\\nRequest: ${$node[\"GS: Reload State (for proof)\"].json.last_request_id}\\nGame: ${$node[\"GS: Reload State (for proof)\"].json.game_id}\\nUsername: ${$node[\"GS: Reload State (for proof)\"].json.temp_username}\\nAmount: ${$node[\"GS: Reload State (for proof)\"].json.temp_amount}\\nPlayer Chat: ${$node[\"Normalize Message\"].json.chat_id}`}}",
        "additionalFields": {
          "replyMarkup": "={\"inline_keyboard\":[[{\"text\":\"✅ Approve\",\"callback_data\":\"ADM|APPROVE|{{$node['GS: Reload State (for proof)'].json.last_request_id}}\"},{\"text\":\"❌ Reject\",\"callback_data\":\"ADM|REJECT|{{$node['GS: Reload State (for proof)'].json.last_request_id}}\"}]]}"
        }
      },
      "id": "tgAdminPostLoad",
      "name": "TG: Post to Admin (LOAD Approval)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [ 2090, 360 ],
      "credentials": {
        "telegramApi": {
          "name": "ScarletGames"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Normalize Message\"].json.chat_id}}",
        "text": "Proof received ✅. Waiting for admin approval."
      },
      "id": "tgAckProof",
      "name": "TG: Ack Proof",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [ 2320, 360 ],
      "credentials": {
        "telegramApi": {
          "name": "ScarletGames"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "documentId": "1coaOS8uj8w4SLoiXN8XhQJyjvXR1Zvm2",
        "sheetName": "State",
        "key": "tg_chat_id",
        "value": "={{$node[\"Normalize Message\"].json.chat_id}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_chat_id": "={{$node[\"Normalize Message\"].json.chat_id}}",
            "step": "CHOOSE_ACTION",
            "game_id": "={{$node[\"GS: Reload State (for proof)\"].json.game_id}}",
            "temp_username": "={{$node[\"GS: Reload State (for proof)\"].json.temp_username}}",
            "temp_amount": "",
            "last_request_id": ""
          }
        }
      },
      "id": "gsResetAfterProof",
      "name": "Reset State After Proof",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 2540, 360 ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "GameBot_System_Template.xlsx"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "documentId": "1coaOS8uj8w4SLoiXN8XhQJyjvXR1Zvm2",
        "sheetName": "State",
        "key": "tg_chat_id",
        "value": "={{$node[\"Normalize Message\"].json.chat_id}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_chat_id": "={{$node[\"Normalize Message\"].json.chat_id}}",
            "step": "WD_WAIT_AMOUNT",
            "game_id": "={{$node[\"Pass State\"].json.game_id}}",
            "temp_username": "={{$node[\"Normalize Message\"].json.text}}",
            "temp_amount": "",
            "last_request_id": ""
          }
        }
      },
      "id": "gsWdUserToAmount",
      "name": "WD: Save Username -> Ask Amount",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 1410, 520 ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "GameBot_System_Template.xlsx"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Normalize Message\"].json.chat_id}}",
        "text": "Now send the amount to WITHDRAW (numbers only):"
      },
      "id": "tgAskWdAmount",
      "name": "TG: Ask Withdraw Amount",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [ 1640, 520 ],
      "credentials": {
        "telegramApi": {
          "name": "ScarletGames"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chat_id = $node[\"Normalize Message\"].json.chat_id;\nconst amountText = $node[\"Normalize Message\"].json.text.trim();\nconst amount = Number(amountText);\nif (!Number.isFinite(amount) || amount <= 0) {\n  return [{ json: { ok:false, chat_id } }];\n}\nconst state = $node[\"Pass State\"].json;\nreturn [{ json: { ok:true, chat_id, amount, game_id: state.game_id, game_username: state.temp_username } }];"
      },
      "id": "wdValidateAmount",
      "name": "WD: Validate Amount",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1410, 640 ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.ok}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "ifWdAmountOk",
      "name": "IF WD Amount OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 1640, 640 ]
    },
    {
      "parameters": {
        "chatId": "={{$json.chat_id}}",
        "text": "Invalid amount. Please send a number like 100, 250, 500."
      },
      "id": "tgBadWdAmount",
      "name": "TG: Bad WD Amount",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [ 1860, 580 ],
      "credentials": {
        "telegramApi": {
          "name": "ScarletGames"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "documentId": "1coaOS8uj8w4SLoiXN8XhQJyjvXR1Zvm2",
        "sheetName": "State",
        "key": "tg_chat_id",
        "value": "={{$json.chat_id}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_chat_id": "={{$json.chat_id}}",
            "step": "WD_WAIT_QR",
            "game_id": "={{$json.game_id}}",
            "temp_username": "={{$json.game_username}}",
            "temp_amount": "={{$json.amount}}",
            "last_request_id": ""
          }
        }
      },
      "id": "gsWdSetWaitQr",
      "name": "WD: State = WAIT_QR",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 1860, 700 ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "GameBot_System_Template.xlsx"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.chat_id}}",
        "text": "Please upload your withdrawal QR image now (photo)."
      },
      "id": "tgAskWdQr",
      "name": "TG: Ask Withdrawal QR Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [ 2090, 700 ],
      "credentials": {
        "telegramApi": {
          "name": "ScarletGames"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Normalize Message\"].json.hasPhoto}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "ifWdHasQrPhoto",
      "name": "IF WD QR Photo Received",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 1410, 820 ]
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": "1coaOS8uj8w4SLoiXN8XhQJyjvXR1Zvm2",
        "sheetName": "State",
        "lookupColumn": "tg_chat_id",
        "lookupValue": "={{$node[\"Normalize Message\"].json.chat_id}}"
      },
      "id": "gsReloadStateWdQr",
      "name": "GS: Reload State (WD QR)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 1640, 820 ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "GameBot_System_Template.xlsx"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const st = $node[\"GS: Reload State (WD QR)\"].json;\nconst request_id = 'REQ' + Date.now().toString() + Math.floor(Math.random()*1000).toString();\nreturn [{ json: { request_id, tg_chat_id: $node[\"Normalize Message\"].json.chat_id, game_id: st.game_id, game_username: st.temp_username, amount: st.temp_amount, qr_file_id: $node[\"Normalize Message\"].json.file_id } }];"
      },
      "id": "wdBuildReq",
      "name": "WD: Build Request Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1860, 820 ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1coaOS8uj8w4SLoiXN8XhQJyjvXR1Zvm2",
        "sheetName": "Requests",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "request_id": "={{$json.request_id}}",
            "type": "WITHDRAW",
            "game_id": "={{$json.game_id}}",
            "tg_chat_id": "={{$json.tg_chat_id}}",
            "game_username": "={{$json.game_username}}",
            "amount": "={{$json.amount}}",
            "status": "PENDING",
            "proof_file_id": "",
            "withdraw_qr_file_id": "={{$json.qr_file_id}}",
            "created_at": "={{new Date().toISOString()}}",
            "approved_by": "",
            "approved_at": ""
          }
        }
      },
      "id": "gsAppendWdReq",
      "name": "GS: Append WITHDRAW Request",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 2090, 820 ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "GameBot_System_Template.xlsx"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003579950450",
        "text": "={{`🏧 WITHDRAW REQUEST\\nRequest: ${$node[\"WD: Build Request Row\"].json.request_id}\\nGame: ${$node[\"WD: Build Request Row\"].json.game_id}\\nUsername: ${$node[\"WD: Build Request Row\"].json.game_username}\\nAmount: ${$node[\"WD: Build Request Row\"].json.amount}\\nPlayer Chat: ${$node[\"WD: Build Request Row\"].json.tg_chat_id}`}}",
        "additionalFields": {
          "replyMarkup": "={\"inline_keyboard\":[[{\"text\":\"✅ Approve\",\"callback_data\":\"ADM|APPROVE|{{$node['WD: Build Request Row'].json.request_id}}\"},{\"text\":\"❌ Reject\",\"callback_data\":\"ADM|REJECT|{{$node['WD: Build Request Row'].json.request_id}}\"}]]}"
        }
      },
      "id": "tgAdminPostWd",
      "name": "TG: Post to Admin (WITHDRAW Approval)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [ 2320, 820 ],
      "credentials": {
        "telegramApi": {
          "name": "ScarletGames"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"WD: Build Request Row\"].json.tg_chat_id}}",
        "text": "QR received ✅. Waiting for admin approval."
      },
      "id": "tgAckWd",
      "name": "TG: Ack Withdraw Request",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [ 2540, 820 ],
      "credentials": {
        "telegramApi": {
          "name": "ScarletGames"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "documentId": "1coaOS8uj8w4SLoiXN8XhQJyjvXR1Zvm2",
        "sheetName": "State",
        "key": "tg_chat_id",
        "value": "={{$node[\"WD: Build Request Row\"].json.tg_chat_id}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_chat_id": "={{$node[\"WD: Build Request Row\"].json.tg_chat_id}}",
            "step": "CHOOSE_ACTION",
            "game_id": "={{$node[\"WD: Build Request Row\"].json.game_id}}",
            "temp_username": "={{$node[\"WD: Build Request Row\"].json.game_username}}",
            "temp_amount": "",
            "last_request_id": ""
          }
        }
      },
      "id": "gsResetWdState",
      "name": "Reset State After Withdraw",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 2760, 820 ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "GameBot_System_Template.xlsx"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger (message)": {
      "main": [
        [
          {
            "node": "Normalize Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Message": {
      "main": [
        [
          {
            "node": "GS: Lookup State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS: Lookup State": {
      "main": [
        [
          {
            "node": "Pass State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass State": {
      "main": [
        [
          {
            "node": "Switch Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Step": {
      "main": [
        [
          {
            "node": "LOAD: Save Username -> Ask Amount",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LOAD: Validate Amount + Build Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Proof Photo Received",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WD: Save Username -> Ask Amount",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WD: Validate Amount",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF WD QR Photo Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOAD: Save Username -> Ask Amount": {
      "main": [
        [
          {
            "node": "TG: Ask Load Amount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOAD: Validate Amount + Build Request": {
      "main": [
        [
          {
            "node": "IF Amount OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Amount OK": {
      "main": [
        [
          {
            "node": "GS: Append LOAD Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG: Bad Amount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS: Append LOAD Request": {
      "main": [
        [
          {
            "node": "LOAD: State = WAIT_PROOF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOAD: State = WAIT_PROOF": {
      "main": [
        [
          {
            "node": "GS: Get Payment QR file_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS: Get Payment QR file_id": {
      "main": [
        [
          {
            "node": "IF Payment QR Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Payment QR Set": {
      "main": [
        [
          {
            "node": "TG: Send Payment QR (file_id)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG: Payment QR Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Proof Photo Received": {
      "main": [
        [
          {
            "node": "GS: Reload State (for proof)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "GS: Reload State (for proof)": {
      "main": [
        [
          {
            "node": "GS: Save Proof file_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS: Save Proof file_id": {
      "main": [
        [
          {
            "node": "TG: Post to Admin (LOAD Approval)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Post to Admin (LOAD Approval)": {
      "main": [
        [
          {
            "node": "TG: Ack Proof",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Ack Proof": {
      "main": [
        [
          {
            "node": "Reset State After Proof",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WD: Save Username -> Ask Amount": {
      "main": [
        [
          {
            "node": "TG: Ask Withdraw Amount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WD: Validate Amount": {
      "main": [
        [
          {
            "node": "IF WD Amount OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF WD Amount OK": {
      "main": [
        [
          {
            "node": "WD: State = WAIT_QR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG: Bad WD Amount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WD: State = WAIT_QR": {
      "main": [
        [
          {
            "node": "TG: Ask Withdrawal QR Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF WD QR Photo Received": {
      "main": [
        [
          {
            "node": "GS: Reload State (WD QR)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "GS: Reload State (WD QR)": {
      "main": [
        [
          {
            "node": "WD: Build Request Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WD: Build Request Row": {
      "main": [
        [
          {
            "node": "GS: Append WITHDRAW Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS: Append WITHDRAW Request": {
      "main": [
        [
          {
            "node": "TG: Post to Admin (WITHDRAW Approval)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Post to Admin (WITHDRAW Approval)": {
      "main": [
        [
          {
            "node": "TG: Ack Withdraw Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Ack Withdraw Request": {
      "main": [
        [
          {
            "node": "Reset State After Withdraw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
